{% include "header.html" %}

<!-- Main Content-->

<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">

      <br><br>

      <h2>How to use</h2>
      
      <p class="lead">1. Convert your .results file to a .txt file.</p>
      <p>On a PC, right click it and 'Open with' Notepad. Click 'Save As' and make sure .txt is selected in the dropdown menu.</p>
      <p>On a Mac, right click and 'Open with' TextEdit. Press 'Command ⌘ Shift ⇧ S' to duplicate it and press Save, making sure to click the button 'If no extension provided, use ".txt."'.</p>
      <br>

      <p class="lead">2. Go to Upload Files and upload both the IUPred .txt file and the nuclear score .csv file.</p>
      <p>Please do not do edit the files from their raw state.</p>
      <p>Once this is done, you will be automatically redirected to this page.</p>
      <a href="{{ url_for('upload_page') }}">
        <div class="d-grid gap-2">
          <button class="btn btn-lg btn-primary" type="button">Upload Files</button>
        </div>
      </a>
      <br><br>

      <p class="lead">3. Press the button below to initiate file conversion.</p>
      <p>This will take the .txt and .csv files and convert them into usable data. Depending on your computing power, it may take more or less time.</p>
      <a href="#">
        <div class="d-grid gap-2">
          <button class="btn btn-lg btn-primary" type="button" href="{{ url_for('upload_page') }}">Initiate File Conversion</button>
        </div>
     </a>  
      <br><br>


      <div class="post-preview">
        <a href="{{ url_for('upload_page') }}">
          <h2 class="post-title">Upload files</h2>
          <h3 class="post-subtitle">IUPred results and nuclear code table.</h3>
        </a>
        <p class="post-meta">
          Needs a .txt from the .results file (copy paste into notepad and save) and the .csv.
        </p>
      </div>

      <!-- Post preview
      {% for post in all_posts %}
      <div class="post-preview">
        <a href="{{ url_for('home', post_id=post.id) }}">
          <h2 class="post-title">{{ post.title }}</h2>
          <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#">{{post.author}}</a>
          on {{post.date}}
          <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
        </p>
      </div>
      <hr class="my-4" />
      {% endfor %}
      -->

      <!-- New Post -->
      <div class="d-flex justify-content-end mb-4">
        <a
          class="btn btn-primary float-right"
          href="{{url_for('upload_page')}}"
          >Create New Post</a
        >
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}
