{% from "bootstrap5/form.html" import render_form %} {% block content %} {%
    include "header.html" %}
    
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Upload</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    
    <div class="container mt-5">
        <h2 class="mb-4">File Upload</h2>
        
        <form action="/process_upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="iupredResults">Upload IUPred Results:</label>
                <input type="file" name="iupredResults" id="iupredResults" class="form-control-file" required>
            </div>
            <div class="form-group">
                <label for="nuclearScores">Upload Nuclear Scores:</label>
                <input type="file" name="nuclearScores" id="nuclearScores" class="form-control-file" required>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    
    </body>
    
    
    {% include "footer.html" %} {% endblock %}
    